---
---

<section class="mx-auto mt-16 w-full max-w-[720px]">
  <h2 class="mb-8 font-serif text-2xl font-semibold">评论</h2>
  <div
    class="giscus"
    data-repo="yingwuxq/my-blog"
    data-repo-id=""
    data-category="Announcements"
    data-category-id=""
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    data-loading="lazy"
  ></div>
</section>

<script
  src="https://giscus.app/client.js"
  data-repo="yingwuxq/my-blog"
  data-repo-id=""
  data-category="Announcements"
  data-category-id=""
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="zh-CN"
  data-loading="lazy"
  async
></script>
